{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">Мои опросники</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Подтвердите удаление</li>
    </ol>
  </nav>
  <h2 class="mb-3">Подтвердите удаление</h2>
  <p class="lead">Вы уверены, что хотите удалить тест<strong>"{{ quiz.name }}"</strong>? Отменить будет нельзя.</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">Да, я уверен</button>
    <a href="{% url 'teachers:quiz_change' quiz.pk %}" class="btn btn-outline-secondary btn-lg" role="button">Не важно</a>
  </form>
{% endblock %}
