{% extends 'base.html' %}

{% block content %}
  <h2>Добро пожаловать в ТЕСТ-ОПРОСНИК! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    Если у вас уже есть аккаунт, продолжайте и <a href="{% url 'login' %}">войти</a>. Если вы новичок в ТЕСТ-ОПРОСНИКе, начните
    путем создания <a href="{% url 'student_signup' %}">учетной записи учащегося</a> или <a href="{% url 'teacher_signup' %}">учетной записи учителя</a>.
  </p>
  <hr>
  <h3>Для чего это приложение?</h3>
  <p>
    В этом приложении пользователи могут зарегистрироваться как студент или преподаватель. 
    Учителя могут создавать тесты, а студенты могут отвечать на вопросы исходя из своих интересов.
  </p>
  <p>

  </p>
  <p>

  </p>
  {% endblock %}
